body {
	font-family: 'Ubuntu', sans-serif;
}
.padre {
	width: 730px;
	height: 121px;
	background-color: rgba(0, 0, 0,0.04);
	padding-top: 1%;
	border: solid black 1px;
	border-radius: 2% 2% 0% 0%;
	margin-left: 30%;
}
.cuerpo {
	width: 730px;
	height: 300px;
	background-color: rgba(0, 0, 0,0.01);
	padding-top: 1%;
	border-bottom: solid black 1px;
	border-left: solid black 1px;
	border-right: solid black 1px;
	border-radius: 0% 0% 2% 2%;
	margin-left: 30%;
}
.informacion {
	width: 730px;
	height: 510px;
	background-color: rgba(0, 0, 0,0.01);
	padding-top: 1%;
	border: solid black 1px;
	border-radius: 2% 2% 2% 2%;
	margin-left: 30%;
	opacity: 0%;
}
.parrafo-informacion {
	margin-left: 1%;
	width: 80%;
	font-size: 0.9rem;
}
.negrita {
	font-weight: bold;
}
.foto {
	width: 10em;
	height: 10em;
	border-radius: 50%;
	margin-left: 40%;
	border: solid gray 2px;
}
.subtitulo1 {
	margin-left: 32%;
	font-size: 24px;
}
.subtitulo {
	color: black;
	font: arial;
	font-size: 48px;
	margin-left: 32%;
}

.socalo {
	height: 6%;
	padding-top: 4%;
}
.iconos {
	width: 6%;
	height: 6%;
	padding-left: 4%;
}
.iconos:hover {
	width: 7%;
	height: 7%;
	opacity: 50%;
}

.info {
	margin-top: 1%;
	margin-left: 83%;
}
.info:focus {
	opacity: 50%;
}
.info:hover {
	box-shadow: 0px 0px 3px 3px black;
}
.acept {
 width: 20%;
 border: solid black 1px;
 border-radius: 3px;
}
.acept:hover {
	box-shadow: 0px 0px 3px 3px black;
}